.card {
    max-width: 870px;
    /* padding: 65px 116px 65px 60px; */
    border: 1px solid var(--light-gray);
    background-repeat: no-repeat;
    background-size: 22%;
    background-position: 65px center;
}
/* 
.card::before {
    content: "";
    flex-shrink: 0;
    margin-right: 50px;
    width: calc(190 / (870 - 60 - 116) * 100%);
    padding-top: calc(165 / (870 - 60 - 116) * 100%);
    background-image: inherit;
    background-size: contain;
    background-repeat: no-repeat;
} */

.card-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
